* {
  font-family: CircularStd;
}

.top-nav {
  margin-top: -12px;
  margin-left: -12px;
  margin-right: -12px;
}
.title-div {
  width: 100%;
  height: 100%;
  margin-top: -10px !important;
}
.name-div {
  width: 20%;
  float: left;
}
.content-div {
  width: 80%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-div {
  padding-top: 80px;
  width: 100%;
}
.project-list {
  width: 20%;
  float: left;
  /* padding-left: 12px; */
  margin-top: -20px;
}
.body-tabs {
  width: 80%;
  height: 100%;
  float: left;
  margin-top: -30px;
}

.titles {
  padding-top: 20px;
  padding-left: 20px;
}
.search-bar {
  height: 10px;
  background-color: #edf0f5 !important;
}
.tabs {
  padding-left: 10px;
  box-shadow: none !important;
}
.tool-bar {
  position: fixed !important;
  width: 100%;
  z-index: 100;
  height: 50px !important;
  background-color: #292929 !important;
}
.name-div {
  width: 20%;
  float: left;
}
.content-div {
  width: 80%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
