.heading {
  width: 100%;
  background-color: red;
}
.createTask {
  background-color: #0bafff;
  border-radius: 5px;
  width: 69%;
  float: left;
}
.completedTasks {
  background-color: #2ec973;
  border-radius: 5px;
  width: 29%;
  float: right;
}

.color {
  background-color: #1e367e;
}
