@import './css/projects.css';
@import './css/common.css';
@import './css/tasks.css';

@import './css/base/typo.css';
/* @import 'circular-std'; */

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css';

@import './icons.css'; /* -------------- common --------------- */
* {
  font-family: 'Circular Std', sans-serif;
  font-size: 12px;

  /* font-family: 'Segoe UI', sans-serif;
  font-size: 1em; */
}
.body-2 {
  font-family: 'Segoe UI', sans-serif !important;
}
.projectListView {
  margin-top: 10px;
  height: 100vh;
  background-color: #edf0f5;
  border-radius: 5px;
  padding-bottom: 200px !important;
  border-right: 1px #e5e5e5 solid;
  padding-top: 10px;
}
.listView {
  margin-top: 10px;
  height: 100vh;
  background-color: #edf0f5;
  padding-bottom: 100px !important;
}
.singleUserList {
  height: 80px;
}
.projectTabSideBar {
  height: 100vh;
}

.profilePictureUpload {
  margin-top: 20px !important;
  height: 20px !important;
  width: 200px !important;
  margin-left: -20px !important;
}
.pictureUploadButton {
  margin-left: 40px;
  /* margin-top: -10px; */
  margin-top: 20px;
}
.selectUserDrop {
  width: 200px !important;
}
.userAddSelect {
  background: #ffffff;
  width: 400px !important;
  border-radius: 5px;
  margin-left: 75px !important;
  margin-right: 10px;
  padding-left: 20px;
  height: 50px;
}

/* ------------------- login -------------------- */

.loginContainer {
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 10%;
}
.companyLogo {
  margin-top: 100px;
  text-align: center;
}
.loginContent {
  text-align: center;
}

.loginTitle {
  font-size: 20px !important;
  font-weight: 600;
}
.loginText {
  font-size: 14px !important;
  font-weight: 400;
}

.loginButton {
  background-color: #0bafff !important;
  margin-top: 40px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  color: #ffffff;
}

/* --------- add project ---------- */

.formDiv {
  /* width: 75vw; */
  margin-left: 22%;
  padding: 10px;
}
.createProjectPage {
  height: 85vh;
}
.addProjectTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* or 200% */

  color: #576377;
  margin-bottom: -5px !important;
}
.formElements {
  width: 98%;
  margin-right: 10px;
  padding: 15px;
  border-radius: 5px;
  /* background: #EDF0F5; */
  border-style: none;
  margin-bottom: -30px;
  margin-top: -50px;
  border: solid 1px #c5c7cc;
}

.createFormElements {
  width: 98%;
  /* background-color: red; */
  height: 40px;
}
.formRow {
  margin-bottom: -20px !important;
  margin-top: -10px !important;
}

.sideBarFormElementsForPickers {
  border-radius: 5px;
  border: solid 1px #c5c7cc;
  height: 55px;
  margin-top: -10px;
  margin-bottom: -20px;
}
.submitButtonEdit {
  background-color: #0bafff !important;
  width: 50%;
  border-radius: 5px;
  float: left;
  margin-right: 5px;
  float: right;
}
.addUserSubmitButtonEdit {
  background-color: #0bafff !important;
  margin-left: 20px;
  width: 88%;
  border-radius: 5px;
  float: left;
}
.userAddBottom {
  margin-bottom: -15px !important;
}
.activeUserAdmin {
  background-color: #ffffff !important;
}
.submitButton {
  /* background-color: #0BAFFF; */
  width: 50%;
  border-radius: 5px;
  float: left;
  margin-right: 5px;
  float: right;
}
.addProjectButtonFail {
  background-color: #e5e5e5;
  width: 50%;
  border-radius: 5px;
  float: left;
  margin-right: 5px;
  float: right;
}
.addProjectButtonSuccess {
  background-color: #0bafff;
  width: 50%;
  border-radius: 5px;
  float: left;
  margin-right: 5px;
  float: right;
}

.taskAddPopupPlacements {
  position: absolute;
  right: 10px !important;
  top: 80vh !important;
}
.adminPagePopups {
  position: absolute;
  right: 30px;
  top: 100vh;
}

/* --------- add task ---------- */

.taskFormDiv {
  position: absolute;
  width: 98%;
  /* margin-top: 7%; */
  padding-top: 10px;
  padding-right: 10px;
  height: 80vh;
  padding-bottom: 100px;
}
.fileUpload::-webkit-file-upload-button {
  color: red;
  border-radius: 5px;
  padding-top: -10px;
}
.profPicUploader {
  /* height: 40px !important; */
}
.textArea {
  height: 187px;
  width: 99%;
  margin-top: -15px;
  vertical-align: top !;
}

.addTaskButtonSuccess {
  background-color: #0bafff;
  width: 50%;
  margin-bottom: -20px;
  border-radius: 5px;
  float: left;
  margin-right: 5px;
  float: right;
  text-align: center;
}

.addTaskButtonFail {
  background-color: rgb(240, 8, 8);
  width: 50%;
  margin-bottom: -20px;
  border-radius: 5px;
  float: left;
  margin-right: 5px;
  float: right;
  text-align: center;
}

/* ------------ Users --------- */

.users-list {
  width: 30%;
  float: left;
  padding-left: -12px;
  padding-top: 40px;

  /* background-color: #ffffff; */
  margin-top: -20px;
}
.adminUserList {
  width: 30vw;
  float: left;
  /* padding-left: -12px; */
  padding-top: 40px;
  margin-top: -20px;
}
.userContentWrapper {
  width: 65vw;
  margin-left: 30vw;
}
.tabContent {
  /* background-color: khaki; */
  margin-left: -30px;
  /* margin-top: -20px; */
}
.orgTabContent {
  padding-top: 30px;
}
.tabContentAdmin {
  height: 80vh !important;
}

.users {
  margin-top: 10px;
  height: 80vh;
  background-color: #edf0f5;
  bottom: 0;
}
.iconBackCircle {
  background-color: #ffff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
}

.iconBackCircleFiles {
  background-color: #ffff;
  padding-top: 3px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.usersForms {
  padding-left: 8% !important;
}
.adminUserViewContent {
  margin-top: 30px !important;
}
.addUserSubmit {
  width: 60% !important;
}

.userDetailsCover {
  margin-top: -30px;
  margin-left: 25%;
}
.blackBar {
  width: 100%;
  height: 200px;
  background-color: #040428;
  text-align: center;
  display: block;
}
.userImage {
  position: absolute;
  margin-top: -110px;
  left: 53%;
}
.adminUserImage {
  position: absolute;
  margin-top: -100px;
  margin-left: 30px;
}
.userNameAdmin {
  position: absolute;
  margin-left: 200px;
  margin-top: -60px;
  color: #ffffff;
  font-weight: 500;
  font-size: 34px;
}
.buttonSectionAdmin {
  position: absolute;
  right: 20px;
  top: 150px;
  color: #ffffff;
}
.userAdminProfileImage {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 5px solid #ffffff;
}
.image {
  border-radius: 50%;
  width: 215px;
  height: 215px;
  border: 5px solid #ffffff;
}
.userDetails {
  margin-top: 120px;
  text-align: center;
}
.userName {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 30px;
  letter-spacing: 0.15px;

  color: #040428;
}
.userDetailsForm {
  margin-top: 50px;
  margin-right: 20px;
}
.editUserSubmit {
  width: 50% !important;
}

/* ------------- profile ------------ */

.profileDetailsCover {
  margin-top: -30px;
}

.profileUserImage {
  left: 5% !important;
  margin-top: -120px;
}
.profileBlackBar {
  height: 190px !important;
}
.adminBlackBar {
  height: 150px !important;
  width: 120%;
  /* margin-left: 30%; */
  background-color: #040428;
}
.formContentAdmin {
  padding-left: 30px !important;
  margin-top: 60px;
}

.profileUserName {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 30px;
  margin-left: 25%;
  color: #ffffff;
  margin-top: -60px;
}
.profileForm {
  margin-left: 20%;
  margin-right: 5%;
}
.profileButton {
  width: 250px;
  /* margin-top: -35px; */
  /* margin-right: 6%; */
}
.profileImage {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  border: 5px solid #ffffff;
}

.fileUploadField {
  margin-top: 1px;
}

/* ------------ project tab ------------ */

.detailSection {
  padding: 10px !important;
  background-color: #e5e5e5;
}
.tab-projectName {
  font-style: normal;
  font-size: 25px !important;
  color: #080848;
  font-weight: 500;
}
.tab-clientName {
  color: #576377;
  font-size: 15px;
  font-weight: 400;
}
.tab-status {
  /* background-color: #0BAFFF; */
  color: #ffffff;
  margin-left: 60px;
  width: 170px;
  text-align: center;
  border-radius: 5px;
}
.statusOption1 {
  background-color: #576377;
}
.statusOption2 {
  background-color: #ff6363;
}
.statusOption3 {
  background-color: #5e98f0;
}
.statusOption4 {
  background-color: #ffa800;
}
.statusOption5 {
  background-color: #36dd5b;
}
.tab-health {
  background-color: #2ec973;
  color: #ffffff;
  margin-left: 10px;
  width: 110px;
  text-align: center;
  border-radius: 5px;
}
.detailTitle {
  color: #576377;
  font-size: 14px;
  font-weight: 500;
  margin-left: -10px;
}
.detailContent {
  color: #0bafff;
  font-size: 14px;
  margin-left: 30px;
}
.detailList {
  margin-left: -60px;
}
.detailContainer {
}
.projectBox {
  text-align: center;
  padding: 10px !important;
  margin: 10px;
  width: 20%;
  height: 150px;
  border-radius: 12px;
  color: #ffffff;
  margin-top: -30px;
}
.due {
  background-color: #ffb129;
}
.overDue {
  background-color: #e65c62;
}
.left {
  background-color: #704cf1;
}
.assign {
  background-color: #67d2e0;
}
.completed {
  background-color: #6fcd17;
}
.projectBoxNumber {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: -10px !important;
}
.tab-icon {
  text-align: right;
  position: absolute;
  right: 0;
}
.iconDiv {
  float: right;
  right: 0px;
  left: 100px !important;
}
.aaaaa {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5px;
}
.projectDrawer {
  margin-top: 40px !important;
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.deleteProjectButton {
  background-color: #ff6161 !important;
  width: 325px;
  margin-top: 20px;
  /* position: absolute; */
  margin-right: 15px;
  margin-bottom: 40px;
}
.addProjectButton {
  /* position: absolute; */
  right: 10px;
  margin-right: 15px;
  width: 325px;
}
.addProjectButtonUpdate {
  /* position: absolute; */
  margin-right: 15px;
  width: 320px;
  margin-left: 0px;
}
.updateWeightTypeDiv {
  margin-bottom: 100px;
}
.taskTitleDiv {
  width: 100%;
  height: 70px;
  background-color: #080848;
}

.taskName-sideBar {
  color: #ffffff;
  padding: 10px;
  font-size: 14px;
  height: 100%;
}

/* -------------------- task side bar ------------------- */

.taskTitle {
  color: #ffffff !important;
  font-weight: 500;
  font-size: 14px;
  width: 100% !important;
  height: 40px;
  margin-right: 10px;
  margin-left: -20px;
}

.taskTitleEdit {
  width: 240px;
  height: 30px;
  width: 100% !important;
  background: #edf0f5;
  border-radius: 5px;
  padding-left: 5px;
  margin-right: 10px;
  margin-left: -20px;
}
.taskStatusDropdown {
  text-align-last: center;
  height: 35px;
  padding-top: 5px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: none;
  background-color: #0bafff;
  color: #ffffff;
}

.textAreaSideBar {
  vertical-align: middle;
  width: 100%;
}
.selectUserDropDown {
  width: 200px !important;
  padding: 7px;
  border-radius: 5px;
  background: #0bafff;
  border-style: none;
  color: #ffffff;
}

.selectSprintDropDown {
  width: 300px !important;
  padding: 7px;
  border-radius: 5px;
  background: #2ec973;
  border-style: none;
  color: #ffffff;
  margin-left: 20px;
}
.dropDownList {
  margin-left: -50px;
  z-index: 100;
}
.editIcon {
  margin-left: 5px !important;
}
.subTaskAdd {
  color: #0bafff !important;
}

.sideBarDate {
  background: #ffffff !important;
  outline: none;
  color: green;
  font-weight: 500;
  font-size: 14px;
  /* background: violet; */
}
.tabListItemsText {
  font-weight: 500;
  font-size: 16px;
  margin-right: 30px;
}
.tabListItemsTextDue {
  font-weight: 500;
  font-size: 16px;
  margin-right: 40px;
}
.datesTitle {
  margin-top: 15px;
  width: 90px;
}

.userSelectDropdown {
  height: 30px;
  font-size: 30px;
}
.editIconZ {
  z-index: -100;
}

/* ----------------- people tab ------------- */

.peopleList {
  margin-top: 50px !important;
  margin-right: 10px;
}
.peopleListItems {
  background-color: #fafafa;
  margin-bottom: 3px;
}
.peopleContainer {
  margin-top: 20px;
  height: 50px;
  border: 1px solid #c4c4c4;
}
.projectRole {
  color: #080848;
  font-weight: 500;
  font-size: 14px;
}
.peopleName {
  color: #b9b9b9;
  font-size: 13px;
}
.completedStatus {
  color: #7a8b9f;
  font-size: 14px !important;
  font-weight: 500;
}
.progressBar {
  width: 350px;
  height: 11px;
  background-color: #2ec973;
  border-radius: 13px;
}
.projectProgress {
  padding-right: 10px;
}
.projectProgressSection {
  margin-left: -40%;
}

.noteUpdateButton {
  margin-top: -30px;
  margin-left: 65px;
}
.fileUploadButton {
  margin-top: 15px;
  margin-bottom: -10px;
}

/* --------------- popup -------------- */

.popup-title {
  color: #080848;
  font-size: 11px;
  font-weight: bold;
}
.popup-name {
  color: #7a8b9f;
  font-weight: 450;
  font-size: 20px !important;
}
.popup-roleTitle {
  font-weight: bold !important;
  font-size: 12px;
  color: #080848;
}
.roleField {
  margin-left: 18px !important;
  margin-right: 18px !important;
}
.checkBoxRoleField {
  margin-top: 25px;
}
.checkBoxField {
  margin-bottom: 20px;
}
.popupButtonContainer {
  margin: 20px !important;
}
.editButton {
  width: 100px;
  height: 50px;
  background-color: #2ec973 !important;
  margin-bottom: 30px;
}
.editButtonSpec {
  width: 100px;
  height: 50px;
  background-color: #2ec973 !important;
  margin-bottom: 30px;
  margin-left: 30px;
}
.deleteButton {
  width: 100px;
  height: 50px;
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: #ff6161 !important;
}
.deleteButtonSpec {
  width: 100px;
  height: 50px;
  margin-left: 30px;
  background-color: #ff6161 !important;
  margin-bottom: 30px;
}
.deletePopupContent {
  text-align: center;
}
.deletePopup {
  margin-top: 40px;
}
.deletePopupTitle {
  color: #040428;
  font-weight: bold;
  font-size: 19px;
}
.deletePopupTitle {
  font-weight: bold !important;
  font-size: 19px !important;
}

.addUserPopup {
  padding-top: -50px !important;
}

.popupBox {
  z-index: 100;
  position: absolute;
  right: 50px;
  bottom: 10px;
}

/* -------------- add people to project ------------- */

.addPeople {
  background-color: #66b35f;
  border-radius: 5px;
  position: absolute;
  right: 50px;
}
.addPeopleButton {
  width: 200px;
  z-index: 100;
}

.addUserField {
  margin-top: 60px !important;
}
.popupFormElement {
  /* margin-bottom: -10px !important; */
  /* margin-left: 10px !important; */
}
.addUserPopupFormElement {
  /* margin-bottom: -30px !important; */
  /* margin-left: 10px !important; */
}
.popupFormContent {
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -30px;
  text-align: center;
}
/* -------------- tab content -------------- */

.tabListItems {
  margin-left: 0px;
}

.tabListItemsSubTask {
  color: #576377 !important;
}

.smallCheck {
  margin-right: -20px !important;
}
.subItem {
  font-size: 12px !important;
}
.progressLine {
  width: 350px;
  /* background-color: rgb(255, 0, 0); */
  border-radius: 13px;
}
.presentageValue {
  font-size: 12px;
}

.sideBarContent {
  /* z-index: 1000; */
  /* min-height: 600px !important; */
  margin-bottom: 100px;
}
.iconExpansion {
  margin-left: -30px !important;
}
.noteTextArea {
  height: 100px;
  width: 99%;
}
.noteSubItem {
  margin-top: -10px !important;
  margin-left: 65px;
  color: #576377;
  font-size: 14px !important;
}
.subTasksList {
  margin-top: -10px;
  margin-left: -10px;
}
.subTaskListName {
  margin-left: 20px;
  font-weight: 500;
  font-size: 11px;
  color: #576377;
  width: 400px !important;
}
.subTaskListNameContent {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding-left: 5px;
}
.addSubTaskTextbox {
  width: 100% !important;
  background: #edf0f5;
  outline: none;
  height: 40px;
}
.subTaskListItems {
  margin-bottom: 10px;
}
.subTaskListCheckBox {
  background-color: royalblue !important;
  width: 8px !important;
}
.checkbox {
  width: 20px;
  height: 20px;
}
.attachmentClose {
}
.listAttachment {
  background-color: #edf0f5 !important;
  width: 100%;
  min-height: 60px;
  max-height: auto !important;
  padding-left: 20px;
  margin-left: 60px;
  border-radius: 5px;
  padding-top: 13px;
}
.attachmentName {
  color: #576377;
  font-weight: 450;
  margin-left: 50px;
  height: 30px;
  /* width: 200px; */
  margin-top: -28px;
  /* white-space:nowrap; */
}
.attchmentContainer {
  padding-bottom: 30px;
}

.fileAttachSideBar {
  margin-left: 75px;
  margin-right: 10px;
  margin-top: 10px;
}
/* ---------------- validation --------------- */

.errorText {
  color: red;
  font-size: 12px;
  /* margin-top: 15px; */
  margin-left: 10px;
  margin-bottom: -20px;
}

.errorTextCreateProject {
  color: red;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 10px;
  /* margin-bottom: 10px; */
}

.taskListViewContent {
  height: 100vh;
  z-index: -100;
  margin-top: 10px;
  padding-bottom: 400px;
}
.allTaskCreateTab {
  margin-top: 5px;
  margin-bottom: -30px !important;
}
.filterListTop {
  margin-top: 25px;
}

/* --------------- popup ---------------- */

.popupDiv {
  width: 300px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
}
.popupContent {
  height: 70px;
  padding-top: 5px !important;
}
.errorPopupContent {
  height: 80px;
  padding-top: 7px !important;
}
.popupTitle {
  font-weight: 600;
}
.popupSubitle {
  color: #b9b9b9;
}
.errorSubtitle {
  color: #ff6161;
  font-size: 14px;
}
.dateTimePicker {
}
.errorDiv {
  margin-top: -1px;
}
.pickerDiv {
  /* margin-top: -5px; */
  border-radius: 5px;
  /* height: 55px; */
}

.pickerContainer {
  width: 98%;
  margin-right: 10px;
  margin-bottom: -10px;
}

.dateTimePickerInternal {
  outline: none !important;
  background: green;
  background-color: #edf0f5 !important;
  /* z-index: 1000; */
  position: absolute;
}

.sideBarPickers {
  position: absolute;
  /* z-index: 100; */
  /* width: 300px; */
  /* margin-left: 60px; */
  width: 80%;
  margin-top: 8px;
}

.datePickerNew {
  margin-top: 0px !important;
  color: green;
}

.pickerNewText {
  margin-right: 5px !important;
  color: black !important;
}

.sdfsdf {
  margin-left: 8px !important;
}

.btnPicker {
  width: 50px;
  font-size: 10px;
  margin-left: 150px;
}
.btnPickerText {
  font-size: 8px;
}

/* ------------------- logs --------------- */

.projectTabContent {
  width: 101%;
  height: 85vh;
  margin-left: -10px;
  padding: 20px;
  padding-bottom: 100px;
}

.logsContainer {
  background-color: #080848;
  width: 108% !important;
  margin-right: -30px !important;
  margin-left: -30px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

.logsContainerContent {
  width: 100% !important;
}

.dateContent {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  color: #4a4a4a;
  background-color: #edf0f5 !important;
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px !important;
  height: 40px;
  padding-top: 8px !important;
}

.logContent {
  margin-bottom: 5px;
  color: #4a4a4a;
  background-color: #edf0f5 !important;
  font-size: 14px;
  height: 80px;
}
.logTitle {
  font-size: 12px !important;
  color: #7a8b9f;
  font-weight: 600;
  width: 100px;
}

.logText1 {
  font-size: 12px !important;
  color: #576377;
  font-weight: 400;
}
.logText2 {
  font-size: 12px !important;
  color: #576377;
  font-weight: 500;
}

.logText3 {
  color: #2ec973;
  font-size: 12px !important;
}
.logTitleContainer {
  padding: 0;
}

.slackCard {
  margin-top: 20px;
  padding-top: 10px;
}

.slackCardButton {
  padding-bottom: 10px;
  margin-top: -10px;
}
.oneSignalButton {
  text-align: center;
}
.oneSignalBtn {
  margin-top: 20px;
}

.slackButton {
  padding-left: 40px !important;
  margin-bottom: -20px;
  margin-top: 20px;
}

.slackImage {
  margin-left: 40px;
  margin-top: 10px;
}

.notiTitle {
  width: 80%px;
  float: left;
  padding: 5px;
  padding-left: 10px;
  font-size: 13px;
  margin-right: 10px;
}

.cardSlogan {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 600;
}
.cardOneSignalSlogan {
  text-align: center !important;
  margin-top: 20px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}

/* ----------------- popups styling --------------- */

.editProjectUserPopup {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}
.editProjectUserDialog {
  padding-top: 20px;
  text-align: center;
}
.popupContainer {
}
.popupConfirmHeadline {
  /* background-color: saddlebrown; */
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.alertPopupTitle {
  font-weight: bold;
  font-size: 16px;
  color: #040428;
}
.alertPopupText {
  font-weight: 450;
  font-size: 14px;
  color: #576377;
}

.deletePopupIcon {
  margin-top: 30px;
}
.deleteMemberPopupIcon {
  margin-top: 20px;
}

.popupBottom {
  padding-bottom: 20px;
  padding-top: 30px;
}
.AddUserPopupBottom {
  padding-bottom: 20px;
  padding-top: -10px;
}

/* ---------------- workload page -------------- */

.workloadSideBar {
  width: 35%;
  float: left;
  /* padding-left: 12px; */
  padding-top: 20px;
  background-color: #ffffff;
  margin-top: -20px;
}
.workloadListItem {
  height: 80px;
}

.workloadProgressLine {
  margin-left: 10px;
  width: 45%;
  /* background-color: red; */
  border-radius: 13px;
}
.workloadListName {
  width: 200px !important;
  background-color: red;
}
.workloadCompletedStatus {
  color: #7a8b9f;
  font-size: 10px !important;
  font-weight: 500;
  margin-left: 10px;
}
.workloadDivider {
  height: 40px !important;
  margin-top: 20px !important;
}
.progressColorCode {
  width: 3px;
  height: 100%;
  margin-right: -10px;
  margin-left: 10px;
}
.progressBad {
  background-color: #ff6161;
}
.progressFair {
  background-color: #ffc213;
}
.progressGood {
  background-color: #2ec973;
}
.progressNoWorks {
  background-color: #0bafff;
}

.workloadBody {
  margin-left: 35% !important;
  margin-right: 2% !important;
  padding-left: 30px;
  padding-top: 15px;
  height: 80vh;
}
.myWorkloadBody {
  margin-right: 2% !important;
  padding-left: 30px;
  padding-top: 15px;
  height: 80vh;
}
.workLoadTitleDiv {
  font-weight: bold;
  font-size: 19px;
  color: #7a8b9f;
  height: 60px !important;
}
.workloadContentDiv {
  padding-top: 20px !important;
}

.projectDetailsPannels {
  /* margin-bottom: 10px; */
  border-radius: 5px;
  border-bottom: solid 1px #d2d8e2;
}
.projectDetailsPannelHeader {
  color: #ffffff;
}
.projectDetailsEmptyPannelHeader {
  color: #576377;
}
.projectDetailsPannelContent {
  padding-top: 10px;
  color: #576377;
}
.taskDetailsBar {
  /* background-color: #FFFFFF; */
  border-radius: 5px;
  margin-bottom: 15px;
}
.workloadTaskItems {
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #ffffff;
}
.workloadTaskName {
  color: #576377;
}
.titleBar {
  margin-top: 60px !important;
}
.checkBoxSideBar {
  margin-top: 7px !important;
}
.selectedTaskTitle {
  color: #ffffff;
  font-weight: ;
  font-size: 16px;
  width: 360px !important;
  /* background-color: red; */
  height: 50px !important;
  overflow: hidden;
  float: left;
}
.workloadCheckBox {
  margin-top: -30px;
}
.selectedsubTaskTitle {
  width: 100% !important;
}
.selectedTaskStatus {
  width: 100px;
  color: #ffffff;
  background-color: #0bafff;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  float: right;
  text-align: center;
}

.subTaskItem {
  margin-left: 60px;
}

.itemGroupTitles {
  color: #576377 !important;
}
.itemGroupDate {
  color: #000000;
}
.noteDiv {
  margin-left: 65px;
  color: #5f5f5f;
}

/* ----------- project edit ------------- */

.editProjectLabels {
  margin-bottom: 15px !important;
  margin-top: -20px;
  margin-left: 5px;
  font-size: 10px;
  color: #576377;
}
.datesLabel {
  margin-bottom: 10px !important;
}

.projectSubtitle {
  font-size: 10px !important;
  /* font-family: CircularStd !important; */
}

.taskDatePickerField {
  /* margin-top: -50px; */
}
.controlWidth {
  width: 70%;
}
.tasklistTaskNames {
  width: 57%;
}
.tasklistFilterTaskNames {
  width: 55%;
}

.filterIcon {
  margin-right: -15px !important;
  padding-top: 5px !important;
}

.rangePickerButton {
  background: #0bafff;
  /* width: 120px; */
  padding: 10px;
  border: solid #edf0f5 1px;
  border-radius: 5px;
  color: #ffffff;
}
.filterButtonWorkLoadError {
  background-color: #edf0f5;
  border-radius: 50%;
  padding: 6px;
}
.filterButtonWorkLoad {
  background-color: #2ec973;
  border-radius: 50%;
  padding: 6px;
}
.clearButtonWorkLoad {
  background-color: red;
  border-radius: 50%;
  padding: 6px;
}
.filterButtonWorkLoad:hover {
  background-color: #0bafff;
}

/* ------------------- tasks page -------------- */

.groupTasksList {
  width: 25%;
  float: left;
  /* padding-left: 12px; */
  /* padding-top: 20px; */
  background-color: #ffffff;
  margin-top: -20px;
  margin-bottom: 100px;
}
.tasksListItem {
  height: 60px;
  background-color: #2ec973;
  margin: 10px;
  border-radius: 5px;
}
.taskListName {
  color: #ffffff;
}
.task-name-div {
  width: 25%;
  float: left;
}
.task-content-div {
  width: 75%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTasksListItem {
  /* background-color: #FFFFFF; */
}

.addGroupListTextBox {
  /* background-color: #FFFFFF; */
  margin: 10px !important;
  margin-top: 20px !important;
  height: 60px !important;
}
.groupsListItem {
  height: 60px;
  background-color: #ffffff;
  margin: 10px;
  margin-top: 20px !important;
  border-radius: 5px;
}
.groupListName {
  color: #0bafff;
}
.groupListElement {
  color: #0bafff !important;
}

.activeGroupList {
  background-color: #0bafff !important;
}
.activeGroupList .active .groupListName {
  color: #ffffff !important;
}
.activeGroupList .active .groupListElement {
  color: #ffffff !important;
}

.personal-task-tab {
  width: 75%;
  height: 100%;
  float: left;
}

.taskFilter-tasksPage {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.addPersonalTaskTextBox {
  margin-top: -20px !important;
}
.bodyContentSideDrawer {
  margin-top: 55px;
}

.personalTaskSidebarContent {
  padding-top: 60px !important;
}

.taskPageContentScroll {
  height: 60vh;
  padding-bottom: 100px;
}
.pageBody {
  width: 100%;
  top: 0px;
  padding-top: 80px;
  height: 100vh;
  overflow: hidden;
  display: block;
}

.sideBarBody {
  padding-bottom: 100px;
  padding-top: 60px;
}

/* ---------------- group task tab -------------- */

.group-task-tab {
  width: 75%;
  height: 100vh;
  float: left;
  padding-bottom: 200px;
}

.popupFormGroupElement {
  margin-bottom: 10px !important;
}

.groupSettings {
  margin-left: 60%;
}

.groupSettingsContent {
  padding: 20px;
}
.settingsButton {
  margin-top: -27px;
}

.groupUpdatePopups {
  position: absolute;
  top: 80vh;
  right: 10px;
}

/* ------------------- files tab ------------------- */

.fileTabContent {
  margin-top: 10px;
  margin-right: 10px;
}

.filesList {
  width: 100%;
  height: 58vh;
  margin-top: 20px;
  margin-bottom: 10px;
}
.fileScroll {
  height: 58vh;
}
.filesUploader {
  width: 99%;
  height: 30vh;
  margin-left: 15px;
  margin-right: 10px !important;
  margin-bottom: 30px;
}
.uploaderListItem {
  background-color: black;
}

.filesListFile {
  background-color: #edf0f5;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

/* --------------------- board tab ---------------- */

.boardBodyDiv {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  position: absolute;
  left: 25vw;
  overflow-y: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border-left: solid #d9deeb 5px;
}
.defaultBoard {
  width: 30%;
  height: 80vh;
  background-color: #edf0f5;
  position: absolute;
  left: 20px;
  border-radius: 5px;
  margin-top: 20px;
}
.actualBoard {
  width: 300px;
  height: 80vh;
  background-color: #edf0f5;
  left: 20px;
  border-radius: 5px;
  display: inline-block;
}
.card {
  display: inline-block;
  /* width: 300px; */
  margin-right: 20px;
  /* margin-top: -8vh; */
  vertical-align: top;
}
.boardTitle {
  height: 70px;
  background-color: #060631;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.sprintTitle {
  height: 70px;
  background-color: #0bafff;
  color: #ffffff;
  font-size: 12px !important;
  text-align: center;
  /* padding-top: -60px !important; */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.sprintTitleName {
  /* background-color: red; */
  font-size: 12px !important;
  margin-top: -20px;
}
.boardTaskList {
  height: 85%;
  padding-bottom: 100px;
  width: 100%;
}
.boardProfPic {
  width: 10px !important;
  height: 10px !important;
}
.boardTaskListItem {
  background-color: #ffffff;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  height: 60px;
  overflow: hidden;
}
.boardTaskChildListItem {
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  margin-top: 5px;
}
.boardSprintSection {
  width: 65%;
  height: 100%;
  float: right;
  position: absolute;
  right: 10px;
  background-color: #ff6161;
}
.boardSprint {
  width: 300px;
  height: 100%;
  background-color: #edf0f5;
  border-radius: 5px;
  float: left;
}

.boardTaskDone {
  color: rgb(10, 126, 0);
  /* font-size: 14px; */
}
.boardTaskOverDue {
  color: rgb(163, 11, 0) !important;
  /* font-size: 14px; */
}
.boardTaskHealthy {
  color: rgb(0, 4, 255);
  /* font-size: 14px; */
}
.boardTaskDefault {
  color: rgb(0, 0, 0);
  /* font-size: 14px; */
}

.projectFileUploadButton {
  position: absolute;
  right: 60px;
  margin-top: -5px;
}

.fileSize {
  margin-left: 30px;
}
.fileName {
  margin-left: 30px;
}
.fileDate {
  margin-right: 20px;
}
.popupDivContent {
  background-color: black;
  position: absolute;
  bottom: 100px;
  right: 20px;
}

.scrolling-wrapper {
  /* overflow-x: scroll; */
  overflow-y: hidden;
  white-space: nowrap;
  height: 85%;
  width: 70%;
  padding-right: 100px;
  padding-left: 10px;
}

.rowHeightAddTask {
  padding-top: 10px !important;
  margin-top: -10px !important;
  height: 80px;
}

.addSprintSection {
  height: 100%;
  width: 300px;
  /* padding-top: 60px; */
  overflow-y: hidden;
  /* background-color: burlywood; */
  padding-right: 50px;
  /* padding-left: 50px; */
}
.addSprintButton {
  background-color: #2ec973;
  width: 230px;
  height: 60px;
  /* margin-top: 40px; */
  padding-top: 5px;
  border-radius: 5px;
}
.addSprintBoard {
  width: 250px;
  height: 80vh;
  border-radius: 5px;
  display: inline-block;
  /* vertical-align: top; */
  /* background-color: burlywood; */
  /* background-color: blue; */
  /* margin-left: -300px; */
}
.sprintDateRangePicker {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.addSprintPopup {
  position: absolute;
  right: 300px;
  bottom: 60px;
  z-index: 10000;
}
.updateSprintPopup {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10000;
}
.datetimePickerRange {
  background-color: #e5e5e5;
  width: 200px;
  height: 30px;
  position: absolute;
  z-index: -20;
  margin-top: -6px;
  margin-left: 100px;
  border-radius: 5px;
}

.dialogpopup {
  position: absolute;
  left: 10px;
  width: 300px !important;
}

/* ----------------------- task restructure ---------------- */

.filterSection {
  margin-top: -15px;
  height: 60px;
}
.taskFilterTypeDiv {
  width: 35% !important;
  float: left;
  height: 40px;
}
.taskFilterDiv {
  width: 65% !important;
  float: left;
}
.filterTitleDiv {
  width: 20%;
  float: left;
  color: #7a8b9f;
  font-weight: 600;
}
.noResultDiv {
  float: left;
  color: #7a8b9f;
  font-weight: 600;
  font-size: 18px;
}
.filterDropdownDiv {
  width: 70%;
  float: left;
}
.filterOptionDiv {
  width: 70%;
  float: left;
}
.filterSubmitButton {
  width: 25%;
  float: right;
  color: #ffffff;
}
.filterButtonBackground {
  background-color: #080848;
}
.upperFilterListItem {
  margin-top: -10px;
  /* height: 30px !important; */
}
.upperMyListItem {
  margin-top: -10px;
  margin-left: -20px;
}
.restructuredFilterTaskList {
  border: 1px #cdcfd2 solid;
  background-color: #edf0f5;
  overflow: hidden;
  height: 35px;
  padding-top: 2px;
  margin-bottom: 5px;

  /* padding-top: -10px !important; */
}
.restructuredFilterGroupTaskList {
  border: 1px #cdcfd2 solid;
  background-color: #edf0f5;
  overflow: hidden;
  height: 35px;
  padding-top: 2px;
  margin-bottom: 5px;

  /* padding-top: -10px !important; */
}

.restructuredMainTaskList {
  border: 1px #cdcfd2 solid;
  margin-top: 10px;
  background-color: #fafafa;
  overflow: hidden;
  height: 35px;
  padding-top: 2px;
  margin-bottom: 5px;
  /* padding-top: -10px !important; */
}
.restructuredSubTaskListRestructure {
  background-color: #fafafa !important;
  margin-left: 30px;
  border-bottom: 1px #cdcfd2 solid;
  border-left: 1px #cdcfd2 solid;
  border-right: 1px #cdcfd2 solid;
  overflow: hidden;
  height: 35px;
  padding-top: 2px;
  /* border-radius: 5px; */
}
.restructuredGroupMainTaskFilterList {
  background-color: #edf0f5;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 35px;
}
.parentOwerflow {
  border: 2px #cdcfd2 solid;
  overflow: hidden;
}
.restructuredChildTaskFilterList {
}
.restructuredMainTaskFilterList {
  border: 2px #e5e5e5 solid;
  background-color: #ffffff;
  overflow: hidden;
}
.restructuredMyTaskList {
  border: 2px #cdcfd2 solid;
  background-color: #edf0f5;
  overflow: hidden;
}
.backPannelAllTask {
  background-color: #edf0f5;
  padding-bottom: 10px;
  border-radius: 5px;
}
.restructuredMySubTaskList {
  background-color: #edf0f5;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.restructuredMainTaskName {
  color: #131111;
}
.restructuredMainTaskCode {
  font-weight: 600;
  margin-right: 10px;
}
.restructuredTaskCreate {
  /* margin-top: 20px; */
  margin-bottom: -20px;
}
.restructuredSubTaskList {
  background-color: #ffffff;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.restructuredSubTaskGroupListRestructure {
  background-color: #ffffff !important;
  margin-left: 30px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 2px;
  height: 45px;
}
.restructuredSubTaskCreate {
  padding-left: 30px;
  /* padding-right: 2px; */
  margin-top: -5px;
  margin-bottom: -5px;
}
.restructuredSubTaskCreateGroup {
  padding-left: 30px;
  padding-right: 30px;
  /* margin-bottom: -20px; */
}
.restructuredMySubTaskCreate {
  padding-left: 30px;
  padding-right: 30px;
}
.restructuredSubTaskName {
  color: #080848;
  width: 57% !important;
  margin-right: -12px;
}
.restStatusChip {
  /* padding-right: 30px; */
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  font-size: 12px !important;
  border-radius: 30px;
  width: 100px;
  margin-right: 5px;
}
.chipsContent {
  width: 100px;
  justify-content: center !important;
  margin-right: 5px !important;
}
.developmentStatus {
  background-color: #ffaa0062 !important;
  color: #ffffff !important;
}
.qaStatus {
  background-color: #ff7b0059 !important;
  color: #ffffff !important;
}
.designStatus {
  background-color: #4ebc447e !important;
  color: #ffffff !important;
}
.bugStatus {
  background-color: #fb3f3f8e !important;
  color: #ffffff !important;
}
.operationalStatus {
  background-color: #de6def86 !important;
  color: #ffffff !important;
}
.preSalesStatus {
  background-color: #00c29e9a !important;
  color: #ffffff !important;
}
.generalStatus {
  background-color: #0084e29c !important;
  color: #ffffff !important;
}
.otherStatus {
  background-color: #0084e28c;
  color: #ffffff;
}
.taskAddTitle {
  font-size: 16px;
  margin-bottom: 50px;
  font-weight: 500;
  color: #576377;
}
.taskAddTitle span {
  color: #0c0c5a;
  font-weight: bold;
  font-size: 18px;
}
.groupFormRow {
  padding-right: 10px;
}

/* ------------- task view page ------------ */
.viewTaskContent {
  width: 100%;
  padding-left: 5%;
  padding-right: 5% !important;
  padding-top: 10px;
  max-height: 100vh;
}
.taskRestFormDiv {
  margin-top: 80px;
}
.taskViewTitle {
  font-size: 18px;
  margin-bottom: -20px;
  font-weight: 500;
  color: #576377;
}
.taskViewTitle span {
  color: #0c0c5a;
  font-weight: bold;
  font-size: 20px;
}
.taskPageTopRow {
  margin-top: -40px;
}
.RestTaskLogDiv {
  width: 100%;
  background-color: #ffffff !important;
}
.RestTaskLogTitle {
  width: 100%;
  height: 50px;
  background-color: #080848;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding-top: 5px;
  padding-left: 25px;
}
.formRowSpec {
  margin-bottom: -10px;
  height: 30px;
}
.viewTaskStatusDropDown {
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: none;
  color: #ffffff;
}
.pendingStatus {
  background: #0bafff;
}
.taskViewLinksDiv {
  text-align: right !important;
}
.viewTaskTitle {
  color: #424f64 !important;
  font-weight: 500;
  font-size: 24px;
  width: 100% !important;
  height: 40px;
}
.viewTaskTitleEdit {
  color: #424f64 !important;
  background: #edf0f5;
  font-weight: 500;
  font-size: 24px;
  padding-left: 20px;
  border-radius: 5px;
  width: 100% !important;
  height: 40px;
}
.taskEditIconCol {
  text-align: right;
}
.formRowNameRange {
  height: 30px;
  margin-top: -20px;
}
.nameRangeDevider {
  margin-top: -35px;
}
.formRowTaskDetailsBody {
  margin-top: 60px;
}
.viewTaskFontColors {
  color: #576377;
  font-size: 18px;
}
.taskViewTaskListContent {
  background-color: #edf0f5 !important;
  border-radius: 5px;
}
.taskViewTaskNameContentColor {
  color: #080848;
  font-size: 8px !important;
}
.viewTasklistTaskNames {
  width: 65%;
  font-size: 8px !important;
}
.parentChildTaskList {
  margin-left: 60px;
  margin-right: 20px;
}
.taskViewTaskListPadding {
  padding-left: 20px;
  height: 50px;
  margin-top: ;
}
.taskViewTitleSection {
  height: 50px;
}
.expansionViewHeader {
  margin-bottom: 15px;
  margin-top: 5px;
}
.topItemTaskView {
  margin-top: -10px;
}
.rightSideColumn {
  border: solid 1px #e5e5e5;
  padding: 5px;
  border-radius: 5px;
}
.rightColumnItemsSubTitle {
  font-size: 12px !important;
  color: #576377;
}
.rightColumnItemsTitle {
  font-size: 16px !important;
  color: #576377;
}
.rightColumnItemsText {
  color: #576377;
  font-weight: 500;
  font-size: 16px;
  margin-right: 30px;
  width: 100%;
}
.viewTaskPickerDiv {
  width: 250px;
  margin-left: 80px;
  margin-top: -20px;
}
.viewPageTaskPickerDiv {
  /* width: 250px; */
  margin-left: 80px;
  margin-top: -35px;
  margin-right: 20px;
}
.leftSideColumn {
  padding-right: 15px;
}
.datePickerDivider {
  margin-top: 30px;
}
.taskViewFileUploadButton {
  margin-top: -25px;
  margin-bottom: 10px;
}
.filesViewDiv {
  background-color: #edf0f5;
  border-radius: 5px;
  margin: 10px;
  margin-top: 20px;
  margin-left: 30px;
  margin-top: -3px;
}
.fileSubTitles {
  font-size: 10px !important;
}
.fileTitles {
  font-size: 12px !important;
  font-weight: 500;
}
.boardTabLinkIcon {
  position: absolute;
  right: 2px;
  /* bottom: 2px; */
}
.updatedDate {
  margin-right: 10px;
}

/* ------------- task dialog ------------- */

.viewDialogTaskContent {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px !important;
  /* padding-top: 10px; */
  /* max-height: 100vh; */
}
.taskDialogFormDiv {
  padding-top: 30px;
}
.taskPopupPopups {
  position: fixed;
  bottom: 0;
  right: 40px;
  z-index: 1000;
}
.allTaskPopupPlacements {
  position: absolute;
  right: 30px;
  bottom: 20px;
}
.filterTaskPopupPlacements {
  position: absolute;
  right: 30px;
  bottom: 20px;
}
.deleteTaskButton {
  /* background-color: #ff6161; */
  margin-top: 8px;
  margin-bottom: 10px;
  border-radius: 50%;
  /* width: 120px; */
}
.dialogPickerNewText {
  font-size: 12px;
  font-weight: 400;
  color: #576377;
  padding-left: 3px;
  margin-top: -100px;
}
.viewTaskDelete {
  padding-right: 100px;
}
.addParentChildSection {
  width: 100%;
  text-align: right;
  background-color: #5f5f5f;
}
.addParentButton {
  background-color: #2ec973;
  border-radius: 5px;
  height: 30px;
  float: right;
}
.addChildButton {
  background-color: #0083e2;
  border-radius: 5px;
  height: 30px;
  float: right;
}
.addParentButtonBody {
  margin-top: -10px;
}
.buttonFloat {
  float: right;
}
.secondaryId {
  font-size: 16px !important;
}
.addParentButtonRow {
}
.addParentText {
  margin-left: -20px !important;
}
.bluePart {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: #0bafff;
}
.bluePartMyTask {
  position: absolute;
  top: -25px;
  right: -55px;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: #0bafff;
}
.boardItemPadding {
  /* margin-top: 10px; */
}
.boardSprintItemPadding {
  /* margin-bottom: 10px; */
}
.bottomPadding {
  height: 5px;
  width: 10px;
}
.upperListItem {
  margin-left: -20px !important;
  padding-left: 20px !important;
  margin-top: -10px;
  background-color: #ececec;
  /* height: 30px !important; */
}
.innerListItem {
  margin-right: 10px;
  background-color: #fafafa;
  border-right: 1px #cdcfd2 solid;
}
.upperListItemGroup {
  margin-left: -20px !important;
  padding-left: 20px !important;
  margin-top: -8px;
}

.pickerButtonDiv {
  position: absolute;
  right: 20px;
  margin-top: -40px;
  /* top: -15px; */
}
.parentChildPopup {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 40px;
}

.sprintUpdateButton {
  position: relative;
  /* top: 30px; */
  margin-left: 250px;
}
.dateCoverPannel {
  width: 173px;
  height: 30px;
  margin-top: 13px;
  margin-left: -5px;
  position: absolute;
  padding-left: 10px;
  background-color: #ffffff;
}

/* ----------------- workload restructure ------------ */

.workloadTypeSection {
  width: 100%;
  height: 60px;
  background-color: #0b0b53;
  margin-top: -20px;
  margin-bottom: 40px;
  color: #ffffff;
  padding-left: 20px;
  padding-top: 12px;
  position: fixed;
  z-index: 100;
}

.workloadV2Body {
  padding: 30px;
}

.myWorkloadV2Content {
  margin-top: 100px;
}
.workloadFilter {
  width: 50vw;
  /* background-color: #ffffff; */
  position: absolute;
  right: 30px;
  top: 100px;
  margin-bottom: 50px;
  /* z-index: 1000; */
}
.filterBottom {
  /* margin-bottom: 20px; */
}
.filterDivider {
  margin-bottom: 20px;
  margin-top: -20px;
}
.orgWorkloadTopTabs {
  margin-top: 30px;
  margin-left: -25px;
  height: 90vh;
  width: 100%;
  position: fixed !important;
}
.tabHeaders {
  font-size: 12px;
  font-weight: bold;
}
.searchTabLeftBar {
  background-color: #edf0f5;
  margin-left: -20px;
  /* margin-top: -13px; */
  padding: 20px;
  padding-left: 25px;
  height: 100vh;
  padding-bottom: 100px;
}
.searchTabRightBar {
  /* margin-left: -20px; */
  /* margin-top: -13px; */
  padding: 20px;
  padding-left: 25px;
  height: 100vh;
  padding-right: 100px;
  padding-bottom: 250px;
}
.containsText {
  font-size: 15px;
  font-weight: bold;
  color: #576377;
  padding-bottom: 20px !important;
}
.dateTimePickerFilter {
  position: absolute;
  width: 30%;
}
.bottomColFilter {
  margin-top: 45px;
}
.toolBarFilter {
  /* z-index: 100; */
}
.col1 {
  width: 35%;
  float: left;
  padding-left: 10px;
}
.col2 {
  width: 65%;
  float: right;
}
.filterOrderWorkload {
  margin-top: 25px !important;
  margin-bottom: -20px !important;
}
.WorkloadTabsContents {
  padding-top: 80px;
  width: 100%;
}
.filterSearchBtn {
  background-color: #080848;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.filterCancelBtn {
  background-color: #ff6161;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.defaultFilterBackground {
  text-align: center;
  padding-top: 20%;
}
.calanderTabContent {
  width: 80vw;
}
.restructuredWorkloadTaskFilterList {
  background-color: #edf0f5;
  overflow: hidden;
}
.templateText {
  font-size: 15px;
  font-weight: bold;
  color: #576377;
}
.saveTemplateBody {
  padding-left: 40px;
  padding-right: 40px;
  color: #576377;
}
.spacerTemplate {
  width: 20px;
}
.orderByEntity {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px !important;
  margin-top: 20px;
}
.calanderCol1 {
  width: 25%;
  float: left;
  padding-left: 10px;
}
.calanderCol2 {
  width: 75%;
  float: right;
}
.calanderSection {
  padding-bottom: 100px !important;
}
.workloadCard {
  display: inline-block;
  /* width: 300px; */
  /* margin-right: 2px; */
  width: 120px;
  padding-bottom: 30px;
  height: 100%;
  /* background-color: bisque; */
}
.overviewBody {
  height: 80vh;
  padding-bottom: 100px;
}
.graphDiv {
  margin-top: 30px;
  width: 93vw;
  margin-right: 20px;
  height: 100%;
  padding-top: 10px;
  overflow-y: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #e5e5e5;
}

.overviewScrollingWrapper {
  /* overflow-x: scroll; */
  overflow-y: hidden;
  white-space: nowrap;
  height: 95%;
  width: 100%;
  padding-right: 100px;
  padding-left: 10px;
}
.overviewTitle {
  font-weight: bold;
  padding-left: 20px;
}
.filterSectionOverview {
  margin-top: 30px;
  width: 93vw;
  background-color: #e5e5e5;
  margin-bottom: -50px;
  padding-right: 20px;
}
.overviewProgressSection {
  transform: rotate(-90deg);
  width: 150px;
  height: 150px;
  margin-left: 53px;
  /* margin-top: 100px; */
}
.overviewProgressSectionMinus {
  transform: rotate(90deg);
  width: 150px;
  height: 150px;
  margin-left: -84px;
}
.graphNameField {
  text-align: center;
  color: #7c8696;
  margin-top: 15px;
  /* padding-top: 80%; */
}
.overviewAvater {
  padding-left: 35%;
  cursor: pointer;
}
.progressCounter {
  text-align: center;
  font-size: 10px;
  color: #576377;
  /* margin-top: -30px; */
}
.workloadSelectedName {
  font-size: 18px;
  font-weight: bold;
  color: #080848;
  margin-top: 40px;
}
.workloadTasksDisplay {
  margin-right: 80px;
}
.statusSpan {
  font-size: 16px;
  background-color: #edf0f5;
  color: #576377;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
}
.myWorkloadContainer {
  margin: 30px;
  margin-top: 80px;
}
.logooutButton {
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.tabTitleStyle {
  color: #0c0c5a !important;
  font-weight: bold !important;
}
.adminTabTitleStyle {
  color: #ffffff !important;
  font-weight: bold !important;
}
.tabInactiveStyle {
  font-weight: bold !important;
  font-size: 19px;
}
.profileUpdateTextFields {
  margin-bottom: -30px !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
  margin-top: -15px !important;
}
.activeTaskTabList {
  border-radius: 5px;
}
.activeTaskTabList .buttonText .bodyWiew {
  color: #ffffff !important;
}
.userAddButtonText {
  margin-left: -120px;
}
.updateProfilePopupDiv {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.userBlockedWarning {
  color: red;
  font-size: 12px !important;
  margin-left: -30px;
}
.logSubtitle {
  margin-left: 80px !important;
  font-size: 16px !important;
  margin-top: -15px;
}
.logProjectSubtitle {
  margin-left: 80px !important;
  font-size: 16px !important;
  margin-top: -15px;
}
.logNameSubtitle {
  margin-left: 60px !important;
  font-size: 16px !important;
  margin-top: -20px;
}

.logItemBackground {
  background-color: #edf0f5;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  /* height: 80px; */
}
.projectLogsSection {
  height: 90vh;
  padding-bottom: 100px;
}
.skillsSection {
  padding-bottom: 100px;
}

.userUpdateSection {
  /* margin-left: 20px; */
  height: 70vh;
  /* width: 100%; */
  padding-right: 3vw;
  padding-bottom: 100px;
}

.skillHeader {
  /* background-color: #080848; */
  color: #ffffff;
  height: 50px;
  padding-top: 12px;
  border-radius: 5px;
  font-weight: 450;
}

.skillBody {
  background-color: #edf0f5;
  border-radius: 5px;
  color: #576377;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 30px;
}
.skillsContentWrapper {
  height: 85vh;
  width: 70%;
  margin-left: 30%;
  padding: 20px;
  color: #576377;
}
.skillsDiv {
  width: 100%;
  background-color: #edf0f5;
  padding: 5px;
  padding-left: 20px;
  margin-top: 20px;
  border-radius: 5px;
}
.skillsListItem {
  /* background-color: #78cc71; */
  margin: 10px;
  padding: 3px;
  border-radius: 5px;
}

.skillDisplayDivProfile {
  margin-right: 20px;
  height: 100%;
  overflow-y: scroll;
  /* overflow-y: hidden; */
  width: 100%;
  white-space: nowrap;
}

.skillDisplayDiv {
  width: 70vw;
  float: right;
  /* background-color: darkkhaki; */
  margin-right: 20px;
  height: 100%;
  overflow-y: scroll;
  /* overflow-y: hidden; */
  white-space: nowrap;
  padding-top: 15px;
}
.skillScrollingWrapperScroll {
  overflow-y: hidden;
  /* white-space: nowrap; */
  height: 100%;
  width: 100%;
  padding-right: 100px;
  padding-left: 10px;
  margin-top: -30px;
}
.skillScrollingWrapper {
  overflow-y: hidden;
  /* white-space: nowrap; */
  height: 100%;
  width: 100%;
  padding-right: 100px;
  padding-left: 10px;
}
.skillScrollingWrapper1 {
  overflow-y: hidden;
  width: 100%;
}
.skillProfileScrollingWrapper {
  overflow-y: hidden;
  /* white-space: nowrap; */
  height: 100%;
  width: 100%;
  padding-right: 100px;
  padding-left: 10px;
}
.skillScrollingWrapper::-webkit-scrollbar {
  display: none;
}
.skillScrollingWrapper1::-webkit-scrollbar {
  display: none;
}
.skillCard::-webkit-scrollbar {
  display: none;
}
.skillDisplayDivProfile::-webkit-scrollbar {
  display: none;
}
.skillDisplayCard::-webkit-scrollbar {
  display: none;
}

.scrollContent {
  height: 80vh;
  min-width: 100%;
  overflow-y: auto;
  position: absolute;
  bottom: 0px;
}
.skillProfileCard {
  display: inline-block;
  vertical-align: top;
  min-width: 250px;
  padding-bottom: 30px;
  margin-right: 20px;
  /* height: 100%; */
}
.scroll {
  position: -webkit-sticky;
  position: sticky !important;
  top: -12px;
  z-index: 1;
  margin-top: -20px !important;
}
.skillCard {
  display: inline-block;
  vertical-align: top;
  min-width: 250px;
  margin-right: 20px;
  /* height: 100%; */
}
.skillDisplayCard {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.skillDisplayCard1 {
  display: inline-block;
  margin-right: 20px;
  /* min-width: 250px; */
}
.card123 {
  background-color: darkmagenta;
  min-width: 250px !;
}
.catListName {
  color: #ffffff;
}
.skillTabPopup {
  position: absolute;
  top: 100vh;
  right: 20px;
}
.categoryListView {
  margin-top: 10px;
  height: 60vh;
  padding-bottom: 100px !important;
}

.categoryHeader {
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
  padding: 8px;
  margin-bottom: 15px;
}
.categoryHeaderSearch {
  border-radius: 5px;
  color: #ffffff;
  padding: 8px;
  padding-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.skillNameSearch {
  color: #576377;
  font-weight: 500;
  font-size: 14px !important;
}
.skillName {
  width: 90px;
  margin-right: 10px;
  text-align: center;
  white-space: normal;
  word-wrap: break-word !important;
  color: #576377;
  /* float: left; */
  font-size: 10px !important;
  font-weight: 500;
}
.skillDisplayBox {
  margin-right: 10px;
  margin-bottom: 10px;
  /* float: left; */
  width: 90px;
  height: 70px;
}
.skillDisplayCheckBox {
  background-color: #edf0f5;
  text-align: center;
  width: 60px;
  height: 60px;
  margin-left: 15px;
  padding-top: 15px;
}
.matrixUserListItem {
  height: 80px;
  background-color: #edf0f5;
}
.userListTitle {
  padding-left: 20px;
  padding-top: 25px;
  color: #576377;
  font-weight: 500;
  background-color: #edf0f5;
  height: 100%;
  width: 100%;
  /* width: 30vw; */
  float: left;
}
.skillMatrixScreen {
  height: 60vh;
}
.skillDisplayScreen {
  height: 69vh;
}
.skillDisplayScreenUser {
  height: 65vh;
  width: 30vw !important;
  background-color: #edf0f5;
}
.skillDisplayScreenUser::-webkit-scrollbar {
  display: none;
}
.errorPageContainer {
  margin-top: -40px;
}
.errorPageText {
  text-align: center;
  /* padding-top: 20% !important; */
}
.errorPageImage {
  height: 70vh;
}
.errorMessage {
  margin-top: 30px;
  font-size: 30px;
  margin-bottom: 20px;
  color: #576377;
}
.noItemText {
  font-size: 20px;
  color: #576377;
  font-weight: 500;
  padding: 20px;
}
.activityTabs {
  background-color: #cdcfd2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.activityInactiveTabs {
  background-color: #e5e5e5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 10px;
}
.taskCommentsSection {
  padding: 20px;
  background-color: #ffffff;
  padding-bottom: 300px;
}
.commentEditor {
  /* width: 70vw; */
}

.commenterName {
  color: #576377;
  font-weight: 550;
  float: left;
  font-size: 14px !important;
}
.commentTime {
  padding-top: 3px;
  font-size: 10px;
  color: #576377;
  padding-left: 20px;
  float: left;
}
.commentFunctionSection {
  margin-top: 20px;
  margin-left: 20px;
}
.commentContent {
  padding-top: 10px;
  padding-left: 20px;
}
.emojiMenu {
  border-radius: 40px !important;
}
.emoji {
  background-color: #ffffff;
  width: 50px;
  height: 35px;
  float: left;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}
.emoji:hover {
  background-color: #e5e5e5;
  border-radius: 5px;
}
.addEmojiButton {
  border: solid #e5e5e5 1px;
  width: 40px;
  font-size: 15px;
  margin-right: 10px;
  /* background-color: #e5e5e5; */
  border-radius: 10px;
  text-align: center;
  float: left;
  height: 22px;
  color: #576377;
  cursor: pointer;
}
.addEmojiButton:hover {
  /* border: solid black 1px; */
  background-color: #e5e5e5;
}
.commentDivider {
  float: left;
  width: 100%;
  margin-top: 5px;
}
/* .commentBody:hover {
  background-color: #f3f1f1;
  border-radius: 5px;
} */
.fileAttachSection {
  /* width: 60px !important; */
  float: left;
  margin-top: 5px;
  /* margin-left: 20px; */
}
.emojiSection {
  float: left;
  padding-top: 10px;
  /* margin-left: 20px; */
}
.typingProgress {
  float: left;
  margin-left: 40px;
  color: #666464;
  font-size: 14px;
  font-weight: 500;
}
.loadingProgress {
  width: 25px;
  float: left;
  margin-top: -38px;
}
.annotations {
  font-weight: 500;
  background-color: #2600ff0e;
}

/* ------ project page restructure ------- */
.projectPanelContent {
}
.selectedProjectPanel {
  margin-left: -25px;
  margin-right: -25px;
  border-radius: 5px;
}
.taskActionContents {
  /* margin-top: -70px; */
}
.taggingPopupBox {
  background-color: #f7f2f2 !important;
  border-radius: 5px;
  width: 80%;
  max-height: 200px;
  margin-top: -50px;
  position: absolute;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fontRestructure12 {
  font-size: 12px !important;
}
.fontRestructure14 {
  font-size: 14px !important;
}
.v-label {
  font-size: 12px !important;
}
