@import "./css/projects.css";
@import "./css/common.css";
@import "./css/tasks.css";

@import "./css/base/typo.css";

/* -------------- common --------------- */

.listView{
    margin-top: 10px;
    height: 80vh;
    background-color: #EDF0F5;
  }

.projectTabSideBar{
    height: 100vh;
}


.profilePictureUpload{
    margin-top: 20px !important;
    height: 20px !important;
    width: 200px !important;
    margin-left: -20px !important;
}
.pictureUploadButton{
    margin-left: 40px;
    /* margin-top: -10px; */
    margin-top: 20px;
}
.selectUserDrop{
    width: 200px !important;
}
.userAddSelect{
    background: #FFFFFF;
    width: 400px !important;
    border-radius: 5px;
    margin-left: 75px !important;
    margin-right: 10px;
    padding-left: 20px;
    height: 50px;
}

/* ------------------- login -------------------- */


.loginContainer{
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 20%;

}

.loginContent{
    text-align: center;
}

.loginTitle{
    font-size: 20px !important;
    font-weight: 600;
}
.loginText{
    font-size: 14px !important;
    font-weight: 400;
}

.loginButton{
    background-color: #0BAFFF !important;
    margin-top: 40px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
}


/* --------- add project ---------- */

.formDiv{
    /* width: 75vw; */
    margin-left: 22%;
    padding: 10px;
}
.addProjectTitle{
font-style: normal;
font-weight: 400;
font-size: 20px;
/* or 200% */

color: #576377;
margin-bottom: -5px !important;
}
.formElements{
    width: 98%;
    margin-right: 10px;
    padding: 15px;
    border-radius: 5px;
    /* background: #EDF0F5; */
    border-style: none;
    margin-bottom: -30px;
    margin-top: -50px;
    border: solid 1px #c5c7cc;
}

.createFormElements{
    width: 98%;
    /* background-color: red; */
    height: 40px;
}
.formRow{
    margin-bottom: -20px !important;
}

.sideBarFormElementsForPickers{
    border-radius: 5px;
    border: solid 1px #c5c7cc;
    height: 55px;
    margin-top: -10px;
    margin-bottom: -20px;
}
.submitButtonEdit{
    background-color: #0BAFFF !important;
    width: 50%;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    float: right;
}
.submitButton{
    /* background-color: #0BAFFF; */
    width: 50%;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    float: right;
}
.addProjectButtonFail{
    background-color: red;
    width: 50%;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    float: right;
}
.addProjectButtonSuccess{
    background-color: #0BAFFF;
    width: 50%;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    float: right;
}

.taskAddPopupPlacements{
    position: absolute;
    right: 10px !important;
    top: 80vh !important;
}

/* --------- add task ---------- */

.taskFormDiv{
    position: absolute;
    width: 90%;
    margin-top: 10%;
    padding-top: 10px;
    padding-right: 10px;
}
.fileUpload::-webkit-file-upload-button {
    color: red;
    border-radius: 5px;
    padding-top: -10px;
  }
  .profPicUploader{
      /* height: 40px !important; */
  }
.textArea{
    height: 187px;
    width: 99%;
    margin-top: -15px;
    vertical-align: top !;
}

.addTaskButtonSuccess{
    background-color: #2EC973;
    width: 50%;
    margin-bottom: -20px;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    float: right;
    text-align: center;
}

.addTaskButtonFail{
    background-color: rgb(240, 8, 8);
    width: 50%;
    margin-bottom: -20px;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
    float: right;
    text-align: center;
}

/* ------------ Users --------- */

.users-list{
    width: 25%;
   float: left;
   /* padding-left: 12px; */
   padding-top: 20px;
   background-color: #FFFFFF;
   margin-top: -20px;
 }
 
 .users{
   margin-top: 10px;
   height: 80vh;
   background-color: #EDF0F5;
   bottom: 0;
 }
 .iconBackCircle{
     background-color: #ffff;
     height: 25px;
     width: 25px;
     border-radius: 50%;
     text-align: center;
 }
 .usersForms{
     padding-left: 5% !important;
 }
 .addUserSubmit{
     width: 60% !important;
 }

 .userDetailsCover{
     margin-top: -30px;
     margin-left: 25%;
 }
 .blackBar{
    width: 100%;
    height: 200px;
    background-color: #040428;
     text-align: center;
     display: block;
 }
 .userImage{
    position: absolute;
    margin-top: -110px;
    left: 53%;
 }
 .image{
    border-radius: 50%;
    width: 215px;
    height: 215px;
    border: 5px solid #FFFFFF;
 }
 .userDetails{
     margin-top: 120px;
     text-align: center;
 }
 .userName{
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 30px;
    letter-spacing: 0.15px;
    
    color: #040428;
 }
 .userDetailsForm{
     margin-top: 50px;
     margin-right: 20px;
 }
 .editUserSubmit{
    width: 50% !important;
}

/* ------------- profile ------------ */

.profileDetailsCover{
    margin-top: -30px;
}

.profileUserImage{
    left: 5% !important;
    margin-top: -120px;
}
.profileBlackBar{
    height: 190px !important;
}

.profileUserName{
    font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 30px;
margin-left: 25%;
color: #FFFFFF;
margin-top: -60px;
}
.profileForm{
    margin-left: 20%;
    margin-right: 5%;
}
.profileButton{
    width: 250px;
    /* margin-top: -35px; */
    /* margin-right: 6%; */
}
.profileImage{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    border: 5px solid #FFFFFF;
}

.fileUploadField{
    margin-top: 1px;
}

/* ------------ project tab ------------ */


.detailSection{
    padding: 10px !important;
   background-color: #E5E5E5;;
}
.tab-projectName{
    font-style: normal;
    font-size: 25px !important;
    color: #080848;
    font-weight: 500;
}
.tab-clientName{
    color: #576377;
    font-size: 15px;
    font-weight: 400;
    
}
.tab-status{
    /* background-color: #0BAFFF; */
    color: #FFFFFF;
    margin-left: 60px;
    width: 170px;
    text-align: center;
    border-radius: 5px;
}
.statusOption1{
    background-color: #576377;
}
.statusOption2{
    background-color:#FF6363;
}
.statusOption3{
    background-color: #5E98F0;
}
.statusOption4{
    background-color: #FFA800;
}
.statusOption5{
    background-color: #36DD5B;
}
.tab-health{
    background-color: #2EC973;
    color: #FFFFFF;
    margin-left: 10px;
    width: 110px;
    text-align: center;
    border-radius: 5px;
}
.detailTitle{
    color: #576377;
    font-size: 14px;
    font-weight: 500;
    margin-left: -10px;
}
.detailContent{
    color: #0BAFFF;
    font-size: 14px;
    margin-left: 30px;
}
.detailList{
    margin-left: -60px;
}
.detailContainer{
}
.projectBox{
    text-align: center;
    padding: 10px !important;
    margin: 10px;
    width: 20%;
    height: 150px;
    border-radius: 12px;
    color: #FFFFFF;
    margin-top: -30px;
}
.due{
    background-color: #FFB129;
}
.overDue{
    background-color: #E65C62;
}
.left{
    background-color: #704CF1;
}
.assign{
    background-color: #67D2E0;
}
.completed{
    background-color: #6FCD17;
}
.projectBoxNumber{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: -10px !important;
}
.tab-icon{
    text-align: right;
    position: absolute;
    right: 0;
}
.iconDiv{
    float: right;
    right: 0px;
    left: 100px !important;
}
.aaaaa{
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 5px;
}
.projectDrawer{
    margin-top: 40px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.deleteProjectButton{
    background-color: #FF6161 !important;
    width: 250px;
    margin-top: 70px;
    position: absolute;
    right: 30px;
    margin-bottom: 100px;
}
.addProjectButton{
    position: absolute;
    right: 30px;
    width: 250px;
}
.taskTitleDiv{
    width: 100%;
    height: 70px;
    background-color: #080848;
}

.taskName-sideBar{
    color: #FFFFFF;
    padding: 10px;
    font-size: 14px;
    height: 100%;
}

/* -------------------- task side bar ------------------- */

.taskTitle{
    color: #FFFFFF !important;
    font-weight: 500;
    font-size: 14px;
    width: 100% !important;
    height: 40px;
    margin-right: 10px;
    margin-left: -20px;
}

.taskTitleEdit{
    width: 240px;
    height: 30px;
    width: 100% !important;
    background: #EDF0F5;
    border-radius: 5px;
    padding-left: 5px;
    margin-right: 10px;
    margin-left: -20px;
}
.taskStatusDropdown{
    text-align-last:center;
}

.textAreaSideBar{
    vertical-align: middle;
    width: 100%;
}
.selectUserDropDown{
    width: 300px !important;
    padding:7px;
    border-radius: 5px;
    background: #0BAFFF;
    border-style: none;
    color: #FFFFFF;
}
.dropDownList{
    margin-left: -50px;
    z-index: 100;

}
.editIcon{
    margin-left: 5px !important;
}
.subTaskAdd{
    color: #0BAFFF !important;
}

.sideBarDate{
    background: #FFFFFF !important;
    outline: none;
    color: green;
    font-weight: 500;
    font-size: 14px;
    /* background: violet; */

}
.tabListItemsText{
    font-weight: 500;
    font-size: 16px;
    margin-right: 30px;
}
.datesTitle{
    margin-top: 15px;
    width: 90px;
}

.userSelectDropdown{
    height: 30px;
    font-size: 30px;
}
.editIconZ{
    z-index: -100;
}


/* ----------------- people tab ------------- */

.peopleList{
    margin-top: 50px !important;
    margin-right: 10px;

}
.peopleListItems{
}
.peopleContainer{
    margin-top: 20px;
    height: 70px;
}
.projectRole{
    color: #080848;
    font-weight: 500;
    font-size: 14px;
}
.peopleName{
    color: #B9B9B9;
    font-size: 13px;
}
.completedStatus{
    color: #7A8B9F;
    font-size: 14px !important;
    font-weight: 500;
}
.progressBar{
    width: 350px;
    height: 11px;
    background-color: #2EC973;
    border-radius: 13px;
}
.projectProgress{
    padding-right: 10px;
}
.projectProgressSection{
    margin-left: -40%;
}

/* --------------- popup -------------- */

.popup-title{
    color: #080848;
    font-size: 11px;
    font-weight: bold;
}
.popup-name{
    color: #7A8B9F;
    font-weight: 450;
    font-size: 9px;
}
.popup-roleTitle{
    font-weight: bold !important;
    font-size: 12px;
    color: #080848;
}
.roleField{
    margin: 18px !important;
}
.popupButtonContainer{
    margin: 20px !important;
}
.editButton{
    width: 100px;
    height: 50px;
    background-color: #2EC973 !important;
    margin-bottom: 30px;
}
.editButtonSpec{
    width: 100px;
    height: 50px;
    background-color: #2EC973 !important;
    margin-bottom: 30px;
    margin-left: 30px;
}
.deleteButton{
    width: 100px;
    height: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: #FF6161 !important;
}
.deleteButtonSpec{
    width: 100px;
    height: 50px;
    margin-left: 30px;
    background-color: #FF6161 !important;
    margin-bottom: 30px;
}
.deletePopupContent{
    text-align: center;
}
.deletePopup{
    margin-top: 40px;
}
.deletePopupTitle{
    color: #040428;
    font-weight: bold;
font-size: 19px;
}
.deletePopupTitle{
    font-weight: bold !important;
font-size: 19px !important;
}

.addUserPopup{
    padding-top: -50px !important;
}

.popupBox{
    z-index: 100;
    position: absolute;
    right: 50px;
    bottom: -25px;
}


/* -------------- add people to project ------------- */

.addPeople{
    background-color: #0BAFFF;
    border-radius: 5px;
    position: absolute;
    right: 50px;
}
.addPeopleButton{
    width: 200px;
    z-index: 100;
}

.addUserField{
    margin-top: 60px !important;
}
.popupFormElement{
    margin-bottom: -10px !important;
    /* margin-left: 10px !important; */
}
.popupFormContent{
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -30px;
}
/* -------------- tab content -------------- */

.tabListItems{
    margin-left: 0px;
}


.tabListItemsSubTask{
    color: #576377 !important;
}

.smallCheck{
    margin-right: -20px !important;
}
.subItem{
    font-size: 12px !important;
}
.progressLine{
    width: 350px;
    /* background-color: rgb(255, 0, 0); */
    border-radius: 13px;
}
.presentageValue{
    font-size: 12px;
}

.sideBarContent{
    /* z-index: 1000; */
    /* min-height: 600px !important; */
}
.iconExpansion{
    margin-left: -30px !important;
}
.noteTextArea{
    height: 100px;
    width: 99%;
}
.noteSubItem{
    margin-top: -10px !important;
    margin-left: 65px;
    color: #576377;
    font-size: 14px !important;
}
.subTasksList{
    margin-top: -10px;
    margin-left: -10px;
}
.subTaskListName{
    margin-left: 20px;
font-weight: 500;
font-size: 11px;
color: #576377;
width: 400px !important;
}
.subTaskListNameContent{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
}
.addSubTaskTextbox{
    width: 100% !important;
    background: #EDF0F5;
    outline: none;
    height: 40px;
}
.subTaskListItems{
    margin-bottom: 10px;
}
.subTaskListCheckBox{
    background-color: royalblue !important;
    width: 8px !important;
}
.checkbox{
    width: 20px;
    height: 20px;
}
.attachmentClose{
}
.listAttachment{
    background-color: #EDF0F5!important;
    width: 100%;
    min-height: 60px;
    max-height: auto !important;
    padding-left: 20px;
    margin-left: 60px;
    border-radius: 5px;
    padding-top: 13px;
}
.attachmentName{
    color: #576377;
    font-weight: 450;
    margin-left: 50px;
    height: 30px;
    width: 200px;
    margin-top: -28px;
    /* white-space:nowrap; */
}
.attchmentContainer{
    padding-bottom: 30px;
}

.fileAttachSideBar{
    margin-left: 75px;
    margin-right: 10px;
    margin-top: 10px;

}
/* ---------------- validation --------------- */

.errorText{
    color: red;
    font-size: 12px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: -20px;
}

.taskListViewContent{
    height: 60vh;
}

/* --------------- popup ---------------- */


.popupDiv{
    width: 300px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
}
.popupContent{
    height: 70px;
    padding-top: 5px !important;
}
.popupTitle{
    font-weight: 600;
}
popupSubitle{
    color: #B9B9B9;
}
.dateTimePicker{
}
.errorDiv{
    margin-top: -1px;
}
.pickerDiv{
    /* margin-top: -5px; */
    border-radius: 5px;
    /* height: 55px; */
}

.pickerContainer{
    width: 98%;
    margin-right: 10px;
    margin-bottom: -10px;
}

.dateTimePickerInternal{
    outline: none !important;
    background: green;
    background-color: #EDF0F5 !important;
    /* z-index: 1000; */
    position: absolute;
    
}

.sideBarPickers{
    position: absolute;
    /* z-index: 100; */
    /* width: 300px; */
    /* margin-left: 60px; */
    width: 80%;
    margin-top: 8px;
}

.datePickerNew{
    margin-top: 0px !important;
    color: green;
}

.pickerNewText{
    margin-right: 5px !important;
    color: black !important;
}

.sdfsdf{
    margin-left: 8px !important;
}

.btnPicker{
    width: 50px;
    font-size: 10px;
    margin-left: 150px;
}
.btnPickerText{
    font-size: 8px;
}



/* ------------------- logs --------------- */

.projectTabContent{
    width: 101%;
    height: 82vh;
    margin-left: -10px;
    padding: 20px;
}

.logsContainer{
    background-color: #080848;
    width: 108% !important;
    margin-right: -30px !important;
    margin-left: -30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
}

.logsContainerContent{
    width: 100% !important;
}

.dateContent{
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    color: #4A4A4A;
    background-color: #EDF0F5 !important;
    font-size: 16px;
    font-weight: 600;
    padding-left: 30px !important;
    height: 40px;
    padding-top: 8px !important;
}

.logContent{
    margin-bottom: 5px;
    color: #4A4A4A;
    background-color: #EDF0F5 !important;
    font-size: 14px;
    height: 80px;
}
.logTitle{
    font-size: 12px !important;
    color: #7A8B9F;
    font-weight: 600;
    width: 100px;
}

.logText1{
    font-size: 12px !important;
    color: #576377;
    font-weight: 400;
}
.logText2{
    font-size: 12px !important;
    color: #576377;
    font-weight: 500;
}

.logText3{
    color: #2EC973;
    font-size: 12px !important;
}
.logTitleContainer{
    padding: 0;
}

.slackCard{
    margin-top: 20px;
    padding-top: 10px;
}

.slackCardButton{
    padding-bottom: 10px;
    margin-top: -10px;
}

.slackButton{
    padding-left: 40px !important;
    margin-bottom: -20px;
    margin-top: 20px;
}

.slackImage{
    margin-left: 40px;
    margin-top: 10px;
}

.notiTitle{
width: 80%px;
float: left;
padding: 5px;
padding-left: 10px;
font-size: 13px;
margin-right: 10px;
}

.cardSlogan{
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 600;
}


/* ----------------- popups styling --------------- */

.editProjectUserPopup{
    position: absolute;
    bottom: 10px;
    right: 2px;
    margin-bottom: -250px;
}
.popupContainer{
}
.popupConfirmHeadline{
    /* background-color: saddlebrown; */
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.alertPopupTitle{
    font-weight: bold;
font-size: 16px;
color: #040428;
}
.alertPopupText{
    font-weight: 450;
    font-size: 14px;
    color: #576377;
}

.deletePopupIcon{
    margin-top: 30px;
}

.popupBottom{
    padding-bottom: 20px;
    padding-top: 10px;
}



/* ---------------- workload page -------------- */


.workloadSideBar{
    width: 35%;
   float: left;
   /* padding-left: 12px; */
   padding-top: 20px;
   background-color: #FFFFFF;
   margin-top: -20px;
 }
 .workloadListItem{
     height: 80px;
 }

 .workloadProgressLine{
     margin-left: 10px;
    width: 45%;
    /* background-color: red; */
    border-radius: 13px;
}
.workloadListName{
    width: 200px !important;
    background-color: red;
}
.workloadCompletedStatus{
    color: #7A8B9F;
    font-size: 10px !important;
    font-weight: 500;
    margin-left: 10px;
}
.workloadDivider{
    height: 40px !important;
    margin-top: 20px !important;
}
.progressColorCode{
    width: 3px;
    height: 100%;
    margin-right: -10px;
    margin-left: 10px;
}
.progressBad{
    background-color: #FF6161;
}
.progressFair{
    background-color: #FFC213;
}
.progressGood{
    background-color: #2EC973;
}
.progressNoWorks{
    background-color: #0BAFFF;
}

.workloadBody{
    margin-left: 35% !important;
    margin-right: 2% !important;
    padding-left: 30px;
    padding-top: 15px;
    height: 80vh;
}
.workLoadTitleDiv{
    font-weight: bold;
    font-size: 19px;
    color: #7A8B9F;
    height: 60px !important;
}
.workloadContentDiv{

}

.projectDetailsPannels{
    margin-bottom: 10px;
    border-radius: 5px;
}
.projectDetailsPannelHeader{
    color: #FFFFFF;
}
.projectDetailsPannelContent{
    padding-top: 10px;
    color: #576377;
}
.taskDetailsBar{
    /* background-color: #FFFFFF; */
    border-radius: 5px;
    margin-bottom: 15px;
}
.workloadTaskItems{
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
}
.workloadTaskName{
    color:  #576377;
}
.titleBar{
    margin-top: 60px !important;
}
.checkBoxSideBar{
    margin-top: 7px !important;
}
.selectedTaskTitle{
    color: #FFFFFF;
    font-weight: ;
    font-size: 16px;
    width: 360px !important;
    /* background-color: red; */
    height: 50px !important;
    overflow:hidden;
    float: left;

}
.workloadCheckBox{
    margin-top: -30px;
}
.selectedsubTaskTitle{
    width: 100% !important;
}
.selectedTaskStatus{
    width: 80px;
    color: #FFFFFF;
    background-color: #0BAFFF;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    float: right;
    text-align: center;

}

.subTaskItem{
    margin-left: 60px;
}

.itemGroupTitles{
    color: #576377 !important;
}
.itemGroupDate{
    color: #000000;
}
.noteDiv{
    margin-left: 65px;
    color: #5F5F5F;
}

/* ----------- project edit ------------- */

.editProjectLabels{
    margin-bottom: 15px !important;
    margin-top: -20px;
    margin-left: 5px;
    font-size: 10px;
    color: #576377;
}
.datesLabel{
    margin-bottom: 10px !important;
}

.projectSubtitle{
    font-size: 10px !important;
}

.taskDatePickerField{
    /* margin-top: -50px; */
}
.controlWidth{
    width: 70%;
}
.tasklistTaskNames{
    width: 70%;
}